@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer components {
    .code{
        @apply text-cwc-red;
    }

    .nav-item-active {
        @apply sm:flex sm:flex-row sm:items-center lg:pl-5 lg:pr-6 flex justify-center lg:p-4 space-x-2 p-2 bg-indigo-700 rounded-md text-white;
    }
    
    .nav-item-active > svg > path {
        fill: white;
    }
    
    .nav-item {
        @apply sm:flex sm:flex-row sm:items-center space-x-2 p-2 text-indigo-700;
    }
    
    .nav-item > svg > path {
        fill: #4338CA;
    }
    .nav-hover:hover {
        @apply p-2 bg-indigo-700 rounded-md text-white;
    }
}


