asgiref==3.3.4
autopep8==1.5.7
bcrypt==3.2.0
cffi==1.14.5
click==8.0.1
Django==3.2.4
Flask==2.0.1
image==1.5.33
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
Pillow==8.2.0
pycodestyle==2.7.0
pycparser==2.20
pymongo==3.11.4
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
Werkzeug==2.0.1
