{% extends "userBase1.html" %}

{% block title %}Pollice — Admin Login{% endblock %}

{% block content %}

<div class="relative h-full w-full overflow-hidden">
    <div class="static md:p-10 lg:p-14">
        <!--Welcome Back-->
        <span class="text-3xl font-medium py-16 flex items-center
            md:text-5xl md:py-24 lg:py-10 lg:text-6xl">
            <h1 class="ml-8 text-white md:ml-20 lg:ml-36">Welcome <br> Back</h1>
        </span>
        <!--Cubes-->
        <div class="absolute top-5 -right-28 md:top-8 md:-right-40 lg:-right-56">
            <img src="{{ url_for('static', filename='img/signInUP-icons/Cubes.svg') }}"
                class="max-w-sm max-h-64 md:max-w-5xl md:max-h-96 lg:max-h-screen lg:max-w-3xl" alt="">
        </div>
        <!--Form-->
        <form method="post">
            <div class="md:w-full h-auto pt-8 px-4 md:pt-8 md:px-20 lg:px-36 space-y-0">
                <div class="static filter backdrop-blur-3xl p-8 sm:pb-28 sm:w-full md:p-10 border border-white border-opacity-50"
                    style="background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                        backdrop-filter: blur(100px);
                        border-radius: 30px;">
                    <!--Username-->
                    <div class="space-y-0 mt-4 px-4 lg:flex lg:flex-col lg:justify-start lg:px-10">
                        <p class="text-sm font-light py-1" style="color: #767a83;">Email</p>
                        <div class="rounded-lg px-4 border border-white lg:max-w-lg" style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                        backdrop-filter: blur(1000px);">
                            <span class="flex flex-row items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 md:h-8 md:w-8"
                                    viewBox="0 0 20 20" fill="#4338ca">
                                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                                </svg>
                                <input type="text" required
                                    class="text-sm text-current font-light bg-transparent focus:outline-none focus:ring-0 p-3 rounded-md w-full overflow-ellipsis md:text-base"
                                    placeholder="Enter Username" name="admin_username" id="InputUsername">
                            </span>
                        </div>
                    </div>
                    <!--Password-->
                    <div class="space-y-0 mt-1 px-4 lg:px-10">
                        <p class="text-sm font-light py-1" style="color: #767a83;">Password</p>
                        <div class="rounded-lg px-4 border border-white lg:max-w-lg" style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                        backdrop-filter: blur(1000px);">
                            <span class="flex flex-row items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 md:h-8 md:w-8"
                                    viewBox="0 0 20 20" fill="#4338ca">
                                    <path fill-rule="evenodd"
                                        d="M18 8a6 6 0 01-7.743 5.743L10 14l-1 1-1 1H6v2H2v-4l4.257-4.257A6 6 0 1118 8zm-6-4a1 1 0 100 2 2 2 0 012 2 1 1 0 102 0 4 4 0 00-4-4z"
                                        clip-rule="evenodd" />
                                </svg>
                                <input type="password" required
                                    class="text-sm text-current font-light bg-transparent focus:outline-none focus:ring-0 p-3 rounded-md w-full overflow-ellipsis md:text-base"
                                    placeholder="Enter Password" name="password" id="InputPassword">
                            </span>
                        </div>
                    </div>

                    <p class="text-xs font-light mt-1" style="color: #767a83;">
                        {{ message }}
                    </p>

                    <div
                        class="flex flex-col items-center justify-center mt-10 mb-10 lg:mb-0 px-4 text-white lg:px-10 lg:flex lg:flex-col lg:items-start lg:justify-start">

                        <input type="submit" value="Log in" class="bg-indigo-700 hover:bg-indigo-600 text-base p-1 px-10 rounded-md w-full flex flex-row items-center justify-center
                    md:p-2 md:text-lg lg:max-w-lg">

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}