
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="Logo Icon" href="{{ url_for('static', filename='img/Main Logo.svg') }}">
    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->

    <!-- CSS and other dependecies-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/main.css') }}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    
</head>


<body class="font-body" style="font-display: swap; color: #333333;">
    

<!-- Main Container -->
<div class="relative h-screen w-full overflow-hidden">
    <!-- Background-->
    <div style="z-index: -10"
        class="absolute bg-gradient-to-br from-green-100 via-green-50 to-purple-300 h-full w-full">
        <!--Background Image-->
        <img src="{{ url_for('static', filename='img/background-icons/BGCubes.svg') }}" 
            class="absolute max-w-screen-lg max-h-screen ml-32 inset-y-0 -right-52 opacity-30 bg-auto filter blur-sm sm:bg-fixed sm:h-screen sm:opacity-30 sm:max-w-screen-lg sm:-right-28 md:max-w-screen-lg md:-right-28 lg:-right-16 lg:max-w-screen-2xl"
            alt="" srcset="">
    </div>
    <!-- Main Parts -->
    <div class="flex h-full w-full flex-col lg:flex-row">
        <!-- Navigation Bar -->
        <div class="relative w-auto flex-shrink-0 order-last lg:w-64 lg:h-full lg:max-h-full lg:order-first ">
            <!-- Nav Background -->
            <div class="absolute w-full h-full bg-white opacity-50 sm:opacity-50 md:opacity-50 lg:opacity-60"
                style="z-index:-10">
            </div>
            <nav
                class="flex flex-col w-full h-full justify-evenly items-center text-xl font-normal text-white lg:p-12 lg:pt-0">
                <!-- Main Logo -->
                <a href="#" class="hidden lg:block">
                    <img class="object-top filter drop-shadow-lg lg:-mt-14" src="{{ url_for('static', filename='img/Main Logo.svg') }}" alt=""> 
                    <p class="filter drop-shadow-xl text-2xl flex justify-center font-light tracking-wide"
                        style="color: #16BDCA;">
                        Pollice
                    </p>
                </a>
                <!-- Flex List Of NavLinks -->
                <div
                    class="flex w-full flex-row justify-around items-center py-3 px-3 sm:flex sm:justify-around lg:flex-col lg:space-y-10 lg:items-start lg:place-content-center">
                    <!-- Add -->
                    <a href="/admin/add" class="nav-item">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 md:w-8 md:h-8 lg:w-9 lg:h-9"
                            viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="hidden lg:inline">Add</span>
                    </a>
                    <!-- Delete -->
                    <a href="/admin/delete" class="nav-item">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 md:w-8 md:h-8 lg:w-9 lg:h-9"
                            viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="hidden lg:inline">Delete</span>
                    </a>
                    <!-- Update -->
                    <a href="/admin/update" class="nav-item">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 md:w-8 md:h-8 lg:w-9 lg:h-9"
                            viewBox="0 0 20 20" fill="currentColor">
                            <path
                                d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                        </svg>
                        <span class="hidden lg:inline">Update</span>
                    </a>
                    <!-- View -->
                    <a href="/admin/view" class="nav-item">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 md:w-8 md:h-8 lg:w-9 lg:h-9"
                            viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"
                                clip-rule="evenodd" />
                        </svg>
                        <span class="hidden lg:inline">View</span>
                    </a>
                </div>
            </nav>
        </div>
        <!-- Main Body -->
        <div
            class="flex w-full h-auto flex-col flex-grow p-12 mt-auto mb-auto lg:mt-0 lg:mb-0 overflow-y-scroll text-gray-700 ">
            <!-- Header -->
            <div class="flex justify-between w-full">
                <div class="relative  w-72 h-20 rounded-xl p-4 text-white shadow-lg sm:p-6 sm:w-7/12 sm:mt-3 sm:ml-2 sm:rounded-2xl  md:ml-4 md:mt-4 sm:h-28 "
                    style="background: #FFA000;">
                    <div class="flex flex-col items-start ">
                        <h1
                            class="text-2xl flex flex-row items-center font-medium tracking-wider sm:text-4xl sm:mt-1 md:text-4xl md:mt-0 lg:text-5xl lg:mt-0  ">
                            Hello, {{admin_username}}
                        </h1>
                        <p
                            class="flex flex-row items-center font-normal text-xs ml-1 -mt-1 tracking-wide sm:tracking-wider sm:text-sm md:text-base lg:tracking-widest ">
                            Welcome back to Pollice!
                        </p>
                        <img class="absolute bottom-0 h-32 sm:h-44" src="{{ url_for('static', filename='img/HandNav.svg') }}" alt="" srcset="" 
                            style="right: 8px">
                    </div>
                </div>
                <a href="/admin_profile">
                    <img class="filter drop-shadow-xl mt-3 ml-3 w-14 h-14 sm:w-20 sm:h-20 sm:mt-6 sm:mr-8 md:w-20 md:h-24 md:mr-8 md:mt-6"
                        src="{{ url_for('static', filename='img/heading-icons/Final Profile pic(1).svg') }}" alt="" srcset=""> 
                </a>
            </div>

            {% block content %} {% endblock %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>

