<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="Logo Icon" href="{{ url_for('static', filename='img/Main Logo.svg') }}"> 
    <!-- CSS and other dependecies-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/main.css') }}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<!-- Body Class -->

<body class="font-body" style="font-display: swap; color: #333333;">
    <!-- Main Container -->
    <div class="relative h-screen w-full overflow-hidden">
        <!-- Background-->
        <div style="z-index: -10"
            class="absolute bg-gradient-to-br from-green-100 via-green-50 to-purple-300 h-full w-full">
            <!--Background Image-->
            <img src="{{ url_for('static', filename='img/background-icons/BGCubes.svg') }}"
                class="absolute max-w-screen-lg max-h-screen ml-32 inset-y-0 -right-52 opacity-30 bg-auto filter blur-sm sm:bg-fixed sm:h-screen sm:opacity-30 sm:max-w-screen-lg sm:-right-28 md:max-w-screen-lg md:-right-28 lg:-right-16 lg:max-w-screen-2xl"
                alt="" srcset="">
        </div>
        <!-- Main Parts -->
        <div class="flex h-full w-full flex-col lg:flex-row">
            <!-- Navigation Bar -->
            <div class="relative w-auto flex-shrink-0 order-last lg:w-64 lg:h-full lg:max-h-full lg:order-first ">
                <!-- Nav Background -->
                <div class="absolute w-full h-full bg-white opacity-50 sm:opacity-50 md:opacity-50 lg:opacity-60"
                    style="z-index:-10">
                </div>
                <nav
                    class="flex flex-col w-full h-full justify-evenly items-center text-xl font-normal text-white lg:p-12 lg:pt-0">
                    <!-- Main Logo -->
                    <a href="/logged_in" class="hidden lg:block">
                        <img class="object-top filter drop-shadow-lg lg:-mt-14" src="{{ url_for('static', filename='img/Main Logo.svg') }}" alt="">
                        <p class="filter drop-shadow-xl text-2xl flex justify-center font-light tracking-wide"
                            style="color: #16BDCA;">
                            Pollice
                        </p>
                    </a>
                    <!-- Flex List Of NavLinks -->
                    <div
                        class="flex w-full flex-row justify-around items-center py-3 px-3 sm:flex sm:justify-around lg:flex-col lg:space-y-10 lg:items-start lg:place-content-center">
                        <!-- Home -->
                        <a href="/logged_in" class="nav-item">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 md:w-8 md:h-8 lg:w-9 lg:h-9"
                                viewBox="0 0 20 20" fill="currentColor">
                                <path
                                    d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                            </svg>
                            <span class="hidden lg:inline">Home</span>
                        </a>
                        <!-- Vote -->
                        <a href="/vote" class="nav-item">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 md:w-8 md:h-8 lg:w-9 lg:h-9"
                                viewBox="0 0 20 20" fill="currentColor">
                                <path
                                    d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM14 11a1 1 0 011 1v1h1a1 1 0 110 2h-1v1a1 1 0 11-2 0v-1h-1a1 1 0 110-2h1v-1a1 1 0 011-1z" />
                            </svg>
                            <span class="hidden lg:inline">Vote</span>
                        </a>
                        <!-- Result -->
                        <a href="/results" class="nav-item">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 md:w-8 md:h-8 lg:w-9 lg:h-9"
                                viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11 4a1 1 0 10-2 0v4a1 1 0 102 0V7zm-3 1a1 1 0 10-2 0v3a1 1 0 102 0V8zM8 9a1 1 0 00-2 0v2a1 1 0 102 0V9z"
                                    clip-rule="evenodd" />
                            </svg>
                            <span class="hidden lg:inline">Result</span>
                        </a>
                        <!-- About -->
                        <a href="/about" class="nav-item">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 md:w-8 md:h-8 lg:w-9 lg:h-9"
                                viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
                                    clip-rule="evenodd" />
                                <path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z" />
                            </svg>
                            <span class="hidden lg:inline">About</span>
                        </a>
                    </div>

                </nav>

            </div>

            <div class="flex w-full h-auto flex-col flex-grow p-12 mt-auto mb-auto lg:mt-0 lg:mb-0 overflow-y-scroll text-gray-700 ">
                <!-- Header -->
                <div class="flex justify-between w-full">
                    <div class="relative -ml-4 w-72 h-20 rounded-xl p-4 text-white shadow-lg sm:p-6 sm:w-7/12 sm:mt-3 sm:ml-2 sm:rounded-2xl sm:h-28 md:ml-4 md:mt-4"
                        style="background: #FFA000;">
                        <div class="flex flex-col items-start ">
                            <h1
                                class="text-2xl flex flex-row items-center font-medium tracking-wider sm:text-4xl sm:mt-1 md:text-4xl md:mt-0 lg:text-5xl lg:mt-0  ">
                                Hello, {{user}}
                            </h1>
                            <p
                                class="flex flex-row items-center font-normal text-xs -mt-1 ml-1 tracking-wide sm:tracking-wider sm:text-sm md:text-base lg:tracking-widest ">
                                Welcome back to Pollice!
                            </p>
                            <img class="absolute bottom-0 h-32 sm:h-44" src="{{ url_for('static', filename='img/HandNav.svg') }}" alt=""
                                srcset="" style="right: 8px">
                        </div>
                    </div>
                    <a href="/user_profile">
                        <img class="filter drop-shadow-xl mt-2 ml-6 w-16 h-16 sm:w-20 sm:h-20 sm:mt-6 sm:mr-8 md:w-24 md:h-24 md:mr-8 md:mt-6"
                            src="{{ url_for('static', filename='img/heading-icons/Final Profile pic(1).svg') }}" alt="" srcset="">
                            
                    </a>
                </div>

                {% block content %}{% endblock%}

            </div>
        </div>
    </div>
</body>

</html>