{% extends "userBase2.html" %}

{% block title %}Pollice — About{% endblock %}

{% block content %}
<!-- Title -->
<div class="flex flex-wrap space-y-4 sm:space-y-3">
    <div class="w-full p-6 flex-row">
        <h1
            class="text-2xl font-normal tracking flex justify-center sm:text-3xl md:text-4xl lg:text-4xl sm:p-1 md:p-3 lg:p-4">
            About
        </h1>
    </div>
    <div class="p-0 mb-12 sm:p-6 sm:pt-0 lg:pt-0">
        <!-- Content -->
        <div class="filter backdrop-blur-3xl w-auto h-auto p-5 border border-white lg:w-auto lg:flex lg:place-self-center shadow-lg"
            style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                                backdrop-filter: blur(1000px);
                                border-radius: 16px;">
            <div class=" flex place-items-start flex-nowrap flex-col w-auto p-1 ">
                <div class="w-full relative flex flex-nowrap justify-center items-center">
                    <h4 class="flex justify-center w-auto h-auto p-2 pl-4 pr-4 text-white font-normal text-lg rounded sm:w-auto "
                        style="background: #E2502B;">
                        About Pollice
                    </h4>
                </div>
                <p class="p-2 pt-4 sm:p-6 sm:pt-2 text-xs font-thin mt-1">
                    Pollice is an application that aims to provide an all-in-one means to voting, calculating, and displaying the results for WVSU CICT's Student Council Election. The application is designed using tailwind, allowing for a sleek look overall. It also utilizes MongoDB to collect and store all ongoing data. 
                </p>
            </div>
        </div>
    </div>
    <div class="w-auto h-auto space-y-3 md:space-y-0 md:grid md:grid-cols-2 md:gap-1">
        <div class="p-0 sm:p-6 sm:pt-0 lg:pt-0">
            <!-- Content -->
            <div class="filter backdrop-blur-3xl w-auto h-auto p-5 border border-white lg:w-auto lg:flex lg:place-self-center shadow-lg"
                style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                                    backdrop-filter: blur(1000px);
                                    border-radius: 16px;">
                <div class=" flex place-items-start flex-nowrap flex-col w-auto p-1 ">
                    <div class="w-full relative flex flex-nowrap justify-center items-center">
                        <h4 class="flex justify-center w-auto h-auto p-2 pl-4 pr-4 text-white font-normal text-lg rounded sm:w-auto "
                            style="background: #E2502B;">
                            Mission
                        </h4>
                    </div>
                    <p class="p-2 pt-4 sm:p-6 sm:pt-2 text-xs font-thin mt-1">
                        Pollice is dedicated to delivering a streamlined voting system for students to vote for their student council through an innovative remote method 
                    </p>
                </div>
            </div>
        </div>
        <div class="p-0 mb-12 sm:p-6 sm:pt-0 lg:pt-0">
            <!-- Content -->
            <div class="filter backdrop-blur-3xl w-auto h-auto p-5 border border-white lg:w-auto lg:flex lg:place-self-center shadow-lg"
                style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                                    backdrop-filter: blur(1000px);
                                    border-radius: 16px;">
                <div class=" flex place-items-start flex-nowrap flex-col w-auto p-1 ">
                    <div class="w-full relative flex flex-nowrap justify-center items-center">
                        <h4 class="flex justify-center w-auto h-auto p-2 pl-4 pr-4 text-white font-normal text-lg rounded sm:w-auto "
                            style="background: #E2502B;">
                            Vision
                        </h4>
                    </div>
                    <p class="p-2 pt-4 sm:p-6 sm:pt-2 text-xs font-thin mt-1 ">
                        To provide an optimized, effective, and efficient method to collect and provide results.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="sm:p-6 sm:pt-0 lg:pt-0 w-screen h-auto">
        <!-- Content -->
        <div class="filter backdrop-blur-3xl p-5 mb-12 border border-white shadow-lg" style=" background: linear-gradient(118.32deg, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0.06) 100%);
                                backdrop-filter: blur(1000px);
                                border-radius: 16px;">
            <div class="relative flex place-items-start flex-nowrap flex-col w-auto p-4 space-y-4 ">
                <div class="w-full relative flex flex-col justify-center items-center">
                    <h4 class="flex justify-start w-auto h-auto p-2 pl-4 pr-4 text-white font-normal text-lg rounded sm:w-auto "
                        style="background: #E2502B;">
                        App Contributors
                    </h4>
                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 mt-5">
                        <div class="flex flex-col items-center p-4 w-auto h-full">
                            <img src="{{ url_for('static', filename='img/app-contributors/Jed.jpg') }}" class="w-20 h-20 m-2 rounded-full" alt="">
                            <div class="flex flex-col justify-center">
                                <p class="text-base font-medium flex justify-center text-center">Jed Adrian Denosta</p>
                                <p class="text-xs flex justify-center text-center">Project Leader, <br> UX/UI Designer,
                                    <br> Front-end Developer</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-center p-4 w-full h-full"> 
                            <img src="{{ url_for('static', filename='img/app-contributors/Natalie.jpg') }}" class="w-20 h-20 m-2 rounded-full" alt="">
                            <div class="flex flex-col justify-center">
                                <p class="text-base font-medium flex justify-center text-center">Natalie Jane Pacificar
                                </p>
                                <p class="text-xs flex justify-center text-center">Back-end Developer, <br> Database
                                    Administrator</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-center p-4 w-full h-full">
                            <img src="{{ url_for('static', filename='img/app-contributors/SJ.jpg') }}" class="w-20 h-20 m-2 rounded-full" alt="">
                            <div class="flex flex-col justify-center">
                                <p class="text-base font-medium flex justify-center text-center">Eduardo Bentain III</p>
                                <p class="text-xs flex justify-center text-center">Back-end Developer, <br> Logo Designer</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-center p-4 w-full h-full"> 
                            <img src="{{ url_for('static', filename='img/app-contributors/Julliane.jpg') }}" class="w-20 h-20 m-2 rounded-full" alt="">
                            <div class="flex flex-col justify-center">
                                <p class="text-base font-medium flex justify-center text-center">Julliane Pearl
                                    Camarista</p>
                                <p class="text-xs flex justify-center text-center">Front-end Developer, <br> Documentation</p>
                            </div>
                        </div>
                        <div class="flex flex-col items-center p-4 w-full h-full"> 
                            <img src="{{ url_for('static', filename='img/app-contributors/Elaisha.jpg') }}" class="w-20 h-20 m-2 rounded-full" alt="">
                            <div class="flex flex-col justify-center">
                                <p class="text-base font-medium flex justify-center v">Elaisha Diana</p>
                                <p class="text-xs flex justify-center text-center">Front-end Developer, <br> Documentation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}